<p id="notice"><%= notice %></p>

<p>
  <strong>Statename:</strong>
  <%= @state.statename %>
</p>

<p>
  <strong>Countryname:</strong>
  <%= @state.countryname %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
