<% provide(:title, 'Listing customers') %>
<h1>Listing customers</h1>
<div class="centered">
<table>
  <thead>
    <tr>
      <th>Table 37 ID</th>
      <th>Restaurant Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.rstid %></td>
        <td><%= customer.rstname %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Customer', new_customer_path %>

