<p id="notice"><%= notice %></p>

<p>
  <strong>Rstid:</strong>
  <%= @customer.rstid %>
</p>

<p>
  <strong>Rstname:</strong>
  <%= @customer.rstname %>
</p>

<p>
  <strong>Source:</strong>
  <%= @customer.source %>
</p>

<p>
  <strong>Sdate:</strong>
  <%= @customer.sdate %>
</p>

<p>
  <strong>Trialdays:</strong>
  <%= @customer.trialdays %>
</p>

<p>
  <strong>Plantype:</strong>
  <%= @customer.plantype %>
</p>

<p>
  <strong>Monthlyrate:</strong>
  <%= @customer.monthlyrate %>
</p>

<p>
  <strong>Ipadsold:</strong>
  <%= @customer.ipadsold %>
</p>

<p>
  <strong>Standsold:</strong>
  <%= @customer.standsold %>
</p>

<p>
  <strong>Ipadrate:</strong>
  <%= @customer.ipadrate %>
</p>

<p>
  <strong>Standrate:</strong>
  <%= @customer.standrate %>
</p>

<p>
  <strong>Rstowner:</strong>
  <%= @customer.rstowner %>
</p>

<p>
  <strong>Rstaddress:</strong>
  <%= @customer.rstaddress %>
</p>

<p>
  <strong>Rstcity:</strong>
  <%= @customer.rstcity %>
</p>

<p>
  <strong>Rststate:</strong>
  <%= @customer.rststate %>
</p>

<p>
  <strong>Rstzip:</strong>
  <%= @customer.rstzip %>
</p>

<p>
  <strong>Rstcontact:</strong>
  <%= @customer.rstcontact %>
</p>

<p>
  <strong>Rstmgrcontact:</strong>
  <%= @customer.rstmgrcontact %>
</p>

<p>
  <strong>Rstemail:</strong>
  <%= @customer.rstemail %>
</p>

<p>
  <strong>Paymode:</strong>
  <%= @customer.paymode %>
</p>

<p>
  <strong>Salestax:</strong>
  <%= @customer.salestax %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
