<p id="notice"><%= notice %></p>

<p>
  <strong>Cityname:</strong>
  <%= @city.cityname %>
</p>

<p>
  <strong>Statename:</strong>
  <%= @city.statename %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
