<div class="row">
<p id="notice"><%= notice %></p>


<p>
  <strong>Parent Company:</strong>
  <%= @sale.spcompany %>
</p>

<p>
  <strong>Parent Commission:</strong>
  <%= @sale.parentcomm %>
</p>

<p>
  <strong>Sales Person Name:</strong>
  <%= @sale.spname %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @sale.spcomm %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
</div>
